<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title th:text="${title}"></title>

        <!-- Bootstrap Core CSS -->
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../../../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../../../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../../../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <div th:replace="../fragments/nav :: nav"/>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header" th:text="${title}"></h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Datos servicios
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-9" th:object="${servicio}">
                                            <form role="form" th:action="@{/v0/servicios/add}" method="post">
                                                <div class="form-group">
                                                    <label>Cliente asociado</label>
                                                    <select class="form-control" th:field="*{idcliente}">
                                                        <option th:each="cliente: ${clientes}" th:value="${cliente.idcliente}" th:text="${cliente.nombreCliente + ' ' + cliente.apellidoCliente}"/>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Descripcion</label>
                                                    <select class="form-control" th:field="*{descripcion}">
                                                        <option th:value="${'WEB'}" th:text="${'WEB PORTFOLIO'}"/>
                                                        <option th:value="${'TIENDA'}" th:text="${'TIENDA ONLINE'}"/>
                                                        <option th:value="${'APP'}" th:text="${'APP ANDROID'}"/>
                                                        <option th:value="${'A MEDIDA'}" th:text="${'SOFTWARE A MEDIDA'}"/>
                                                        <option th:value="${'CRM'}" th:text="${'CRM / ERP'}"/>
                                                        <option th:value="${'MANTENIMIENTO'}" th:text="${'MANTENIMIENTO'}"/>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Precio</label>
                                                    <input class="form-control" type="number" th:field="*{precio}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Fecha Alta</label>
                                                    <input class="form-control" type="date" th:field="*{fechaAlta}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Fecha Entrega</label>
                                                    <input class="form-control" type="date"th:field="*{fechaEntrega}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Fecha Pago</label>
                                                    <input class="form-control" type="date" th:field="*{fechaPago}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Estado</label>
                                                    <input class="form-control" type="checkbox"th:field="*{estadoPago}">
                                                </div>
                                                
                                                <!-- file input
                                                <div class="form-group">
                                                    <label>File input</label>
                                                    <input type="file">
                                                </div>
                                                -->
                                                <button type="submit" class="btn btn-success">Alta</button>
                                            </form>
                                        </div>

                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../../../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../../../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../../../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../../../js/startmin.js"></script>

    </body>
</html>
