<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/styleLogin.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
  </head>
  <body>

        <form th:action="@{/login}" method="post" class="login-form">
          <h1>Login Resencia Backoffice</h1>

          <div class="txtb">
            <input type="text" name="username" autofocus>
            <span data-placeholder="Nombre de usuario"></span>
          </div>

          <div class="txtb">
            <input type="password" name="password"value="">
            <span data-placeholder="Password"></span>
          </div>

          <input type="submit" class="logbtn" value="Acceder">

        </form>
 

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>


  </body>
</html>
